/* Tarjeta de Presentacion */
.information-card {
    width: 420px;
    height: 740px;
    background: #E0FBE2;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Nombre Cientifico */
.scientificName {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}

/* Imagen */
.img-plant {
    width: 350px;
    height: 440px;
    border-radius: 12px;
}

.read-more {
    color: #387ADF;
    font-weight: bold;
}

.read-more:hover {
    font-size: 18px;
    cursor: pointer;
}

.btn-siguiente {
    background: #44A093;
    border-radius: 12px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.btn-siguiente:hover {
    cursor: pointer;
    background: #296058;
    font-size: 16px;
    color: white;
}

.btn-hablar {
    border-radius: 12px;
    background: #0B845C;
}

.btn-hablar:hover {
    background: #0d523b;
    color: white;
    font-weight: bold;

}

/* Estilo para pantallas pequeñas (celulares) */
@media only screen and (max-width: 600px) {
    .information-card {
        width: 95%;
        /* Ajusta el ancho para que sea un porcentaje del contenedor */
        height: auto;
        /* Permite que la altura se ajuste automáticamente */
        margin: 0 auto;
        /* Centra la tarjeta en la pantalla */
        border-radius: 8px;
        /* Ajusta el borde redondeado */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        /* Reduce la sombra para móviles */
    }

    .img-plant {
        width: 90%;
        height: 300px;
        border-radius: 12px;
    }

}