@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
    color: #002140;
    background: #B0EBB4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.title-text {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.text-link {
    color: #002140;
    font-size: 28px;
    font-family: "Nunito", sans-serif;
}

.text-link:hover {
    font-size: 26px;
    text-decoration: underline;
    font-weight: bold;
}